.cheatsheet-page{
    background-color: rgba(23, 186, 239, 0.7);
}

.header-title {
  color: #074f66;
  position: relative;
  left: 190px;
  top: 10px;
  color: ;
}

.header-description {
  color: #074f66;
  position: relative;
  left: 190px;
}

.card {
  border: 0px;
  margin-bottom: 1px;
  background-color: transparent;
}

.card-body {
  background-color: rgba(255, 255, 255, 1);  
}

.card-header {
  border: none;
  background-color: #efcd17;
}

.method { 
  margin-bottom: 4px;
}

.method-parameter {
  font-size: x-small;
}

.method-description {
  font-style: italic;
}

.parameter {
  border-left: 2px solid #efcd17;
}

.parameter-name {}

.footer {
  font-weight: bold;
}

.logo {
  position: absolute;
  top: 0px;
  left: 10px;
  width: 180px;
  
}
