html, body, #root {
  height: 100%;
}

p, span {
  margin-bottom: 0;
  white-space: pre-wrap;
}

.pdf-container {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: small;
  height: 100%;
}

.form-container {
  display: inline-block;
  position: absolute;
  margin: 10px;
}

.logo-image {
  width: 100%;
}

.cheatsheet-page {
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  display: flex;
  flex-flow: column;
  width: 842px; 
  height: 595px; 
  overflow: hidden;
}

.cheatsheet-page-empty {
  height: inherit;
}

.fit-height {
  height: 100%;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@media (max-height: 600px) {
  .cheatsheet-page-empty {
    height: 100%;
  }
}

.header {
  flex: 0 1 auto;
}

.header-title {
  font-size: large;
}

.header-title-name {
  font-size: xx-large;
  font-weight: bold;
}

.logo {
  position: absolute;
  top: 5px;
  right: 9px;
  width: 100px;
  z-index: 2;
}

.card-columns {
  flex: 1 1 auto;
  overflow-y: auto;
}

.card {
  margin-top: 5px;
  margin-bottom: 5px;
}

.card-header {
  font-weight: bold;
  font-size: medium;
  padding-bottom: 10px;
  padding-top: 10px;
  white-space: pre-wrap;
}

.card-body {
  padding: 10px 10px 10px 10px;
}

.method-name {
  font-weight: bold;
}

.parameter {
  border-left: 2px solid rgba(0, 0, 0, .25);
  padding-left: 3px;
}

.parameter-name {
  font-weight: bold;
}

.example {
  font-style: italic;
}

.footer {
  flex: 0 1 auto;
  float: right;
}